.time-date-bar{
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
}

.time-date-bar h1{
    padding: 10px 0 30px 0;
    font-size: 27px;
}

.time-date-bar i{
    font-size: 20px;
    padding-left: 5px;
}

.time-date-bar span{
    font-size: 13px;
}

.time-date-bar h2{
    font-size: 20px;
}