*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color:coral;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
